* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  font-size: .32rem;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: .68rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .2rem;
}

.header .nav {
  width: 6.83rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.header .nav li {
  padding: 0 .2rem;
  flex-shrink: 0;
  line-height: .68rem;
}

.header .nav li.active {
  border-bottom: 2px solid #ed792f;
  color: #ed792f;
}

.header i {
  width: .51rem;
  height: 100%;
  line-height: .68rem;
  padding-left: .1rem;
}

.section {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

.section .search {
  width: 100%;
  height: 1.02rem;
  display: flex;
  align-content: space-between;
  align-items: center;
  padding: 0 .22rem;
}

.section .search a {
  color: #7a7a7a;
}

.section .search a:nth-child(1) {
  width: 5.6rem;
  height: .56rem;
  background: #edeeef;
  border-radius: 5px;
  display: flex;
}

.section .search a:nth-child(1) i {
  text-align: center;
  padding-left: 1.2rem;
  color: #ed8c34;
}

.section .search a:nth-child(1) input {
  border: none;
  background: #edeeef;
  border-radius: 5px;
  padding-left: .05rem;
}

.section .search a:nth-child(2) {
  padding: 0 .1rem;
}

.section .search a:nth-child(3) {
  padding: 0 .1rem;
}

.section .search a:nth-child(4) {
  padding: 0 .1rem;
}

.section .banner {
  width: 100%;
  height: 3.42rem;
  border-bottom: 1px solid #eaeaea;
}

.section .banner img {
  width: 100%;
  height: 3.1rem;
  display: block;
}

.section .render-box {
  width: 100%;
}

.section .render-box h4 {
  width: 100%;
  height: 1.24rem;
  line-height: 1.24rem;
  color: #000;
  padding-left: .2rem;
}

.section .render-box .list {
  width: 100%;
}

.section .render-box .list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section .render-box .list li dl {
  padding: .2rem 0;
  flex: 1;
}

.section .render-box .list li dl img {
  width: 3.74rem;
  height: 2.13rem;
  display: block;
}

.section .render-box .list li dl dd {
  width: 100%;
}

.section .render-box .list li dl dd p {
  padding-left: .1rem;
}

.section .render-box .list li dl dd p:nth-child(2) {
  color: #ccc;
  font-size: 12px;
}

.section .render-box .list li dl dd p:nth-child(1) {
  line-height: 20px;
}

.footer {
  width: 100%;
  height: .98rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .15rem;
}

.footer a {
  color: #858585;
  display: flex;
  flex-direction: column;
}

.footer a i {
  text-align: center;
}

.footer a span {
  padding-top: .1rem;
  font-size: 10px;
}

.footer a.add {
  color: #ed8c34;
}
