* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: .32rem;
}