* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    font-size: .32rem;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: .68rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2rem;
    .nav {
        width: 6.83rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: auto;
        li {
            padding: 0 .2rem;
            flex-shrink: 0;
            line-height: .68rem;
            &.active {
                border-bottom: 2px solid #ed792f;
                color: #ed792f;
            }
        }
    }
    i {
        width: .51rem;
        height: 100%;
        line-height: .68rem;
        padding-left: .1rem;
    }
}

.section {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    .search {
        width: 100%;
        height: 1.02rem;
        display: flex;
        align-content: space-between;
        align-items: center;
        padding: 0 .22rem;
        a {
            color: #7a7a7a;
            &:nth-child(1) {
                width: 5.6rem;
                height: .56rem;
                background: #edeeef;
                border-radius: 5px;
                display: flex;
                i {
                    text-align: center;
                    padding-left: 1.2rem;
                    color: #ed8c34;
                }
                input {
                    border: none;
                    background: #edeeef;
                    border-radius: 5px;
                    padding-left: .05rem;
                }
            }
            &:nth-child(2) {
                padding: 0 .1rem;
            }
            &:nth-child(3) {
                padding: 0 .1rem;
            }
            &:nth-child(4) {
                padding: 0 .1rem;
            }
        }
    }
    .banner {
        width: 100%;
        height: 3.42rem;
        border-bottom: 1px solid #eaeaea;
        img {
            width: 100%;
            height: 3.1rem;
            display: block;
        }
    }
    .render-box {
        width: 100%;
        h4 {
            width: 100%;
            height: 1.24rem;
            line-height: 1.24rem;
            color: #000;
            padding-left: .2rem;
        }
        .list {
            width: 100%;
            li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                dl {
                    padding: .2rem 0;
                    flex: 1;
                    img {
                        width: 3.74rem;
                        height: 2.13rem;
                        display: block;
                    }
                    dd {
                        width: 100%;
                        p {
                            padding-left: .1rem;
                            &:nth-child(2) {
                                color: #ccc;
                                font-size: 12px;
                            }
                            &:nth-child(1) {
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: .98rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .15rem;
    a {
        color: #858585;
        display: flex;
        flex-direction: column;
        i {
            text-align: center;
        }
        span {
            padding-top: .1rem;
            font-size: 10px;
        }
        &.add {
            color: #ed8c34;
        }
    }
}